
<h3 id="ee">Heroes:</h3>
<p>{{capitalizar()}}</p>

<dl>
    <td>Nombre:</td>
    <dd>{{capitalizar()}}</dd>

    <td>Edad:</td>
    <dd>{{edad}}</dd>

    <td>Método:</td>
    <dd>{{getHeroDescripcion()}}</dd>

    <td>Capitalización:</td>
    <dd>{{capitalizar()}}</dd>

</dl>

<br>
<button *ngIf="nombre !== 'spiderman'" (click)="cambiarNombre('spiderman')" class="btn btn-primary mx-3">Cambiar nombre</button>
<button *ngIf="edad !== 25" (click)="cambiarEdad(25)"  class="btn btn-info">Cambiar edad</button>
<button *ngIf="control3" (click)="restablecerValores()" class="btn btn-warning mx-3">Restablecer datos</button>

